
@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Global Styles
body {
  font-family: $font-family-open-sans;
  font-size: $font-size-body-text-desktop;
  color: $text-color-primary;
  background-color: $color-background-1;

  @media (max-width: 768px) {
    font-size: $font-size-body-text-mobile;
  }
}

.create-house-bg {
  background-image: url("../../assets/slices/img_background@3x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: $text-color-link;

  &:hover {
    text-decoration: underline;
  }
}

header {
  font-family: $font-family-montserrat;
  font-weight: $font-weight-bold;
}

h1 {
  font-size: $font-size-header1-desktop;
  font-family: $font-family-montserrat;
  font-weight: $font-weight-bold;
  
  @media (max-width: 480px) {
    font-size: $font-size-header1-mobile;
  }
}

h2 {
  font-size: $font-size-header2-desktop;
  font-family: $font-family-montserrat;
  font-weight: $font-weight-bold;
  
  @media (max-width: 480px) {
    font-size: $font-size-header2-mobile;
  }
}

// Buttons and Tabs
button, .tabs {
  font-family: $font-family-montserrat;
  font-weight: $font-weight-bold;
  font-size: $font-size-buttons-tabs-desktop;
  
  @media (max-width: 480px) {
    font-size: $font-size-buttons-tabs-mobile;
  }
}

// Input Fields
input, .input-field-title {
  font-family: $font-family-open-sans;
  font-size: $font-size-input-field-desktop;
  
  @media (max-width: 480px) {
    font-size: $font-size-input-field-mobile;
  }
}

// Error Messages
.error-message {
  font-family: $font-family-open-sans;
  font-weight: $font-weight-regular;
  font-size: $font-size-error-message-desktop;
  
  @media (max-width: 480px) {
    font-size: $font-size-error-message-mobile;
  }
}

// Listing Information
.listing-info {
  font-family: $font-family-open-sans;
  font-weight: $font-weight-semibold;
  font-size: $font-size-listing-info-desktop;
  
  @media (max-width: 480px) {
    font-size: $font-size-listing-info-mobile;
  }
}

// Empty State Messages
.empty-state-message {
  font-family: $font-family-montserrat;
  font-weight: $font-weight-medium;
  font-size: $font-size-empty-state-message-desktop;
  
  @media (max-width: 480px) {
    font-size: $font-size-empty-state-message-mobile;
  }
}
