// Colors
$color-primary: #eb5440;
$color-secondary: #4a4b4c;
$color-tertiary-light: #e8e8e8;
$color-tertiary-dark: #c3c3c3;
$color-background-1: #f6f6f6;
$color-background-2: #ffffff;

$text-color-primary: #000000;
$text-color-secondary: #4a4b4c;
$text-color-link: #067bc2;

// Fonts
$font-family-montserrat: "Montserrat", sans-serif;
$font-family-open-sans: "Open Sans", sans-serif;

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Font Sizes
$font-size-header1-desktop: 32px;
$font-size-header1-mobile: 18px;
$font-size-header2-desktop: 22px;
$font-size-header2-mobile: 14px;

$font-size-active-menu: 19px;
$font-size-buttons-desktop: 19px;
$font-size-buttons-mobile: 12px;

$font-size-back-button: 16px;
$font-size-input-title-desktop: 14px;
$font-size-input-title-mobile: 12px;

$font-size-empty-state-desktop: 18px;
$font-size-empty-state-mobile: 14px;
$font-size-error-desktop: 14px;
$font-size-error-mobile: 12px;

$font-size-listing-info-desktop: 16px;
$font-size-listing-info-mobile: 12px;
$font-size-body-desktop: 18px;
$font-size-body-mobile: 12px;

$font-size-input-desktop: 14px;
$font-size-input-mobile: 12px;
